<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Movie Recommendation System</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  
    <style>
      /* Define a CSS class to style the text */
      .bold-and-stylish {
        margin-left: 0.75rem;
        font-size:1.25rem;
        font-weight: 500;
        color: black; /* Change the color to your desired color code */
      }

      .center-button {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 9rem;
      }

    </style>
  
  
  </head>
  <body class="bg-gray-200">
    <header class="text-gray-600 body-font -my-10">
        <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
          <img class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
            <a href="/" ><img src="../static/logo.png" width="40" 
              height="50" ></a>
              
            
              <a href="/" ><span class="bold-and-stylish">Movie Recommendation System</span></a>
          
          <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
            <a href = "/" class="mr-5 text-center block border border-gray-300 rounded py-2 px-4 bg-blue-500 hover:bg-gray-400 text-white hover:shadow-md transition duration-300">Home</a>
            <a href = "/about" class="mr-5 hover:text-gray-900">About</a>
            <a href = "/contact" class="mr-5 hover:text-gray-900">Contact Us</a>
            <a href = "/recommendation" class="mr-5 hover:text-gray-900">Recommendation</a>
          </nav>
          
        </div>
      </header>  
      
      <section class="text-gray-600 body-font -my-8">
        <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center">
          <div class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center">
            <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">Movie Recommendation System
              <br class="hidden lg:inline-block">Machine Learning Project
            </h1>
            <p class="mb-8 leading-relaxed"></p>
            <div class="center-button"> <!-- Centered Button -->
              <a href="/recommendation">
                <button class="inline-flex text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg">
                  Search Movie
                </button>
              </a>
            </div>
          </div>
          <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6">
            <img class="object-cover object-center rounded" alt="hero" src="../static/home.svg">
          </div>
        </div>
      </section>

      <section class="text-gray-600 body-font -my-8">
        <div class="container px-5 py-24 mx-auto">
          <h1 class="text-3xl font-medium title-font text-gray-900 mb-12 text-center">Project Team</h1>
          <div class="flex flex-wrap -m-4">
            <div class="p-4 md:w-1/2 w-full">
              <div class="h-full bg-gray-100 p-8 rounded">
                
                <p class="leading-relaxed mb-6"></p>
                <a class="inline-flex items-center">
                  <img alt="testimonial" src="../static/p1.jpg" class="w-50 h-60 rounded-full flex-shrink-0 object-cover object-center">
                  <span class="flex-grow flex flex-col pl-4">
                    <span class="title-font font-medium text-gray-900">Md. Faizan Alam</span>
                    <span class="text-gray-500 text-sm">202040176</span>
                  </span>
                </a>
              </div>
            </div>
            <div class="p-4 md:w-1/2 w-full">
              <div class="h-full bg-gray-100 p-8 rounded">
                
                <p class="leading-relaxed mb-6"></p>
                <a class="inline-flex items-center">
                  <img alt="testimonial" src="../static/p2.jpg" class="w-50 h-60 rounded-full flex-shrink-0 object-cover object-center">
                  <span class="flex-grow flex flex-col pl-4">
                    <span class="title-font font-medium text-gray-900">Shubham Sourav</span>
                    <span class="text-gray-500 text-sm">202040146</span>
                  </span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </section>

      

      <footer class="text-gray-600 body-font -my-8">
        
        <div class="bg-gray-100">
          <div class="container mx-auto py-4 px-5 flex flex-wrap flex-col sm:flex-row">
            <p class="text-gray-500 text-sm text-center sm:text-left">© 2023 Project —
              <a href="https://twitter.com/knyttneve" rel="noopener noreferrer" class="text-gray-600 ml-1" target="_blank">Movie Recommendation System</a>
            </p>
            <span class="inline-flex sm:ml-auto sm:mt-0 mt-2 justify-center sm:justify-start">
              <a class="text-gray-500">
                <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                  <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
                </svg>
              </a>
              <a class="ml-3 text-gray-500">
                <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                  <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
                </svg>
              </a>
              <a class="ml-3 text-gray-500">
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                  <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
                  <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
                </svg>
              </a>
              <a class="ml-3 text-gray-500">
                <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="0" class="w-5 h-5" viewBox="0 0 24 24">
                  <path stroke="none" d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"></path>
                  <circle cx="4" cy="4" r="2" stroke="none"></circle>
                </svg>
              </a>
            </span>
          </div>
        </div>
      </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>